.main-screen {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h6 {
  font-size: 20px;
}

p {
  font-size: 15px;
  margin-top: 6px;
  color: rgb(95, 95, 95);
}
